#details {
  width: 990px;
  height: 570px;
  background-color: #ffffff;
  padding-left: 115px;
  padding-right: 115px;
}

#details .location {
  color: #999999;
  line-height: 70px;
}
#details .location a {
  color: #666666;
}
#details .location a:hover {
  color: #e10482;
}

#details .photo {
  position: relative;
  width: 585px;
  height: 500px;
  float: left;
}
#details .photo .smallpic {
  position: relative;
  width: 580px;
  height: 360px;
}
#details .photo .smallpic .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 72px;
  background-color: #ccc;
  cursor: move;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}
#details .photo img {
  vertical-align: middle;
}
#details .photo .span1 {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 40px;
}
#details .photo ul {
  margin-top: 15px;
  height: 20px;
}
#details .photo ul li {
  float: left;
  font-weight: 700;
  margin-right: 12px;
}
#details .photo ul li .li2, #details .photo ul li .li3, #details .photo ul li .li4 {
  display: block;
  width: 18px;
  height: 15px;
  background-image: url(../images/product-details/details-bg.jpg);
}
#details .photo ul li .li3 {
  background-position: 0 30px;
}
#details .photo ul li .li4 {
  background-position: 0 15px;
}
#details .mirror {
  width: 580px;
  height: 360px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  right: -580px;
  display: none;
}
#details .mirror img {
  position: absolute;
}

#details .literal {
  width: 405px;
  height: 500px;
  float: left;
}

#details .literal hr {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#details .literal .count {
  width: 277px;
  height: 50px;
  background-color: #f5f5f5;
  margin-left: 148px;
  margin-bottom: 20px;
  border-radius: 10px 0 0 10px;
  font-weight: 900;
  line-height: 50px;
}
#details .literal .count img {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 15px;
}
#details .literal .count span {
  font-size: 22px;
}
#details .literal p.describe {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
  margin-left: 15px;
}
#details .literal .price {
  margin-left: 20px;
}
#details .literal .price .present {
  font-size: 23px;
  color: #e10482;
}
#details .literal .price .present span {
  font-size: 40px;
}
#details .literal .price .discount {
  display: inline-block;
  width: 44px;
  height: 20px;
  background-color: #e10482;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}
#details .literal .price .former {
  color: #999999;
  text-decoration: line-through;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#details .literal .amount {
  margin-left: 20px;
}
#details .literal .amount .addtocar {
  width: 108px;
  height: 28px;
  margin-left: 50px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
#details .literal .amount .addtocar button {
  width: 29px;
  height: 28px;
  background-color: #fff;
  color: #686868;
  border: none;
  float: left;
}
#details .literal .amount .addtocar input {
  height: 28px;
  width: 48px;
  border: none;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  float: left;
  text-align: center;
}
#details .literal .amount .bottom button {
  width: 170px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 18px;
}
#details .literal .amount .bottom button img {
  vertical-align: middle;
  margin-right: 8px;
}
#details .literal .amount .bottom button.buy {
  background-color: #000;
}
#details .literal .amount .bottom button.add {
  background-color: #e10482;
}

#content {
  height: auto;
  width: 990px;
  overflow: hidden;
  padding: 30px 115px 20px 115px;
}

#content .left {
  width: 240px;
  height: auto;
  float: left;
}
#content .left h2 {
  line-height: 25px;
}

#content .left .guess {
  background-color: #fff;
}
#content .left dl {
  width: 200px;
  height: 85px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
}
#content .left dl a {
  color: #000;
}
#content .left dl a:hover {
  color: #e10482;
}
#content .left dl dt {
  float: left;
  margin-right: 12px;
}
#content .left dl dd {
  float: left;
  width: 120px;
  line-height: 19px;
}
#content .left dl dd.dd2 {
  color: #e10482;
  margin-top: 15px;
}
#content .left dl dd span {
  display: inline-block;
  font-size: 12px;
  margin-left: 7px;
  background-color: #e10482;
  width: 36px;
  height: 14px;
  border-radius: 5px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}

#content .left .recommand {
  margin-top: 30px;
  background-color: #fff;
}

#content .right {
  float: left;
  margin-left: 30px;
  position: relative;
  height: 5150px;
}
#content .right ul.select {
  width: 720px;
  height: 30px;
  border-bottom: 2px solid #000;
}
#content .right ul.select li {
  float: left;
  width: 64px;
  margin-left: 50px;
  font-size: 15px;
  line-height: 28px;
}
#content .right ul.select li.hover, #content .right ul.select li:hover {
  color: #e1007d;
  border-bottom: 4px solid #e1007d;
  cursor: pointer;
}

#content .right .para {
  position: absolute;
  left: 0;
  top: 32px;
  height: 55px;
  background-color: #fff;
  padding-top: 10px;
}
#content .right .para ul {
  padding-left: 10px;
  overflow: hidden;
}
#content .right .para ul img {
  height: 40px;
  width: 40px;
  margin-right: 7px;
  vertical-align: sub;
}
#content .right .para ul li {
  float: left;
  width: auto;
}
#content .right .para ul li p {
  display: inline-block;
  line-height: 20px;
  color: #4c404e;
  font-size: 9px;
}

#content .right .productpara {
  height: 335px;
  width: 690px;
  background-color: red;
  background: #fff url(../images/product-details/productpara.jpg) no-repeat right 65px;
  padding-top: 25px;
  padding-left: 30px;
}
#content .right .productpara ul {
  border-left: 6px solid #e10482;
  margin-bottom: 30px;
}
#content .right .productpara ul li {
  font-size: 22px;
  color: #333333;
}
#content .right .productpara p {
  color: #333333;
  margin-left: 20px;
  line-height: 30px;
}
#content .right .productpara p span {
  color: #9999a5;
  text-align: right;
  display: inline-block;
  width: 65px;
}

#content .right .certi {
  width: 695px;
  height: 640px;
  background: #fff url(../images/product-details/productpara-certi-bg.jpg) repeat;
  padding-left: 25px;
  padding-top: 20px;
}
#content .right .certi ul {
  border-left: 6px solid #e10482;
  margin-bottom: 45px;
}
#content .right .certi ul li {
  font-size: 22px;
  color: #333333;
}
#content .right .certi h1 {
  text-align: center;
  line-height: 80px;
}

#content .right .dangdang {
  height: 610px;
  width: 720px;
  background: #fff url(../images/product-details/dangdang.jpg) no-repeat 0 66px;
}
#content .right .dangdang h1 {
  text-align: center;
  line-height: 67px;
}

#content .right .story {
  height: 445px;
  width: 590px;
  background-color: #edeef0;
  padding-left: 70px;
  padding-top: 50px;
  padding-right: 60px;
  border-bottom: 3px solid #fff;
}
#content .right .story h1, #content .right .story h2 {
  line-height: 58px;
}
#content .right .story p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}

#content .right .comment {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  width: 620px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

#content .right .comment dl {
  width: 620px;
  height: 110px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 30px;
}
#content .right .comment dl dt {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#content .right .comment dl dd {
  line-height: 24px;
}
#content .right .comment dl dd span {
  color: #999999;
}

/*# sourceMappingURL=product-details.css.map */
