#cart{
  @include bgheight(auto);
  @include bgwidth(1107px);
  background: #fff url(../images/cart/cart-section.jpg) no-repeat 320px 20px;
  padding-left: 115px;
  padding-top: 20px;
  border-top:1px solid #000;
}

#cart .empty{
  display: none;
  @include bgheight(390px);
  padding-top: 250px;
  text-align: center;
  color: #666666;
  img{
    margin-bottom: 35px;
  }
  .p1{
    font-size: 22px;
    line-height:33px;
  }
  .p2{
    font-size: 12px;
    line-height:18px;
  }
  span{
    margin-top: 30px;
    display: inline-block;
    @include bgwidth(218px);
    @include bgheight(40px);
    border:2px solid #e10482;
    border-radius: 25px;
    line-height:40px;
    font-size: 18px;
    a{
      color: #e10482;
    }
    &:hover{
      cursor: pointer;
      @include bgcolor(#e10482);
      a{
        color: #fff;
      }
    }
  }
}

#cart .full{
  height:auto;
  margin-top: 90px;
  margin-right: 115px;
  margin-bottom: 20px;
}

#cart .full table{
  border:1px solid #eeeeee;
  border-collapse: collapse;
  margin-bottom: 25px;
  .onetotal{
    color: #e10482;
    padding-left: 18px;
  }
  td{
    padding-top:10px;
    padding-bottom: 10px;
    @include bgwidth(110px);
    text-align: center;
    &.goods{
      @include bgwidth(460px);
    }
    input{
      margin-right: 5px;
      vertical-align: middle;
    }
    div{
      @include bgheight(20px);
      @include bgwidth(72px);
      border:1px solid #eeeeee;
      margin-left: 30px;
    }
  }
  img{
    @include bgwidth(60px);
    @include bgheight(60px);
    border:1px solid #eeeeee;
    vertical-align: middle;
    margin-right: 10px;
  }
  button{
    @include bgheight(20px);
    @include bgwidth(20px);
    border:none;
    float: left;
    margin-left: 0;
  }
  input.no1{
    @include bgheight(20px);
    @include bgwidth(30px);
    border:none;
    float: left;
    text-align: center;
    margin-right: 0;
    border-left:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
  }
}

#cart .full .casher .span1{
  display: inline-block;
  @include bgwidth(24px);
  @include bgheight(24px);
  border:1px solid #000;
  border-radius:50%;
  text-align: center;
  line-height:24px;
  margin-right: 6px;
  a{
    color: #000;
  }
  &:hover{
    @include bgcolor(#e10482);
    border-color: #fff;
    a{
      color: #fff;
    }
  }
}

#cart .full .casher .right{
  float: right;
  .total{
    @include bgwidth(80px);
    padding-right: 20px;
    display: inline-block;
    font-size: 22px;
    color: #e10482;
  }
  .counter{
    display: inline-block;
    @include bgwidth(168px);
    @include bgheight(40px);
    @include bgcolor(#e10482);
    text-align: center;
    line-height:40px;
    border-radius:20px;
    font-size: 16px;
    a{
      color: #fff;
    }
  }
}

#hot-recom{
  @include bgheight(320px);
  padding-left: 115px;
  padding-right: 115px;
  border-bottom:1px solid #cccccc;
  p{
    text-indent: 2em;
    line-height:26px;
    font-weight: 700;
  }
  dl{
    float: left;
    @include bgheight(290px);
    @include bgwidth(190px);
    margin-right: 9px;
    &.last{
      margin-right: 0;
    }
  }
  dl{
    dt{
      margin-bottom: 10px;
    }
    dd{
      color: #e10482;
      line-height:27px;
      padding-left: 23px;
      padding-right: 23px;
      &.dd1{
        @include bgheight(40px);
        line-height:17px;
        color:#000;
      }
      span{
        display: block;
        @include bgheight(33px);
        @include bgwidth(104px);
        border:1px solid #e10482;
        border-radius: 20px;
        text-align: center;
        line-height:33px;
        margin-top: 5px;
        a{
          color: #e10482;
        }
        &:hover{
          @include bgcolor(#e10482);
          a{
            color: #fff;
          }
        }
      }
    }
  }
}
